/*Common rules*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utilities*/


.flex {
    display: flex;
}

.absolute {
  position: absolute;
}

.relative {
    position: relative;
}

.cover {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.stretch {
    height: 100%;
    width: 100%;
}

.arrow {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color:rgba(156, 156, 156, 0.726);
    cursor: pointer;
}

.arrow:hover {
    background-color: rgba(255, 255, 255, 0.596);
}

#top-arrow {
    left: calc(50% - 15px);
    top: 0;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}


#bottom-arrow {
    left: calc(50% - 15px);
    bottom: 0;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}

/*Containers*/

.container-big {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.slider {
    height: 50vh;
    width: 70%;
}

.thumbnails {
    height: 100%;
    width: 30%;
}

.thumb-big-card {
    width: 60%;
    height: 100%;
}

.thumb-sm-card {
    height: calc(100% / 5);
}
